/* NAVIGATION CONTAINER */
.div-navigation-container {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

.navigation-heading {
    font-size: 1.6rem;
}

/* DASHBOARD NAV LIST */
.dashboard-nav-list {
    display: flex;
    gap: 2.4rem;
}

/* NOTIFICATIONS INDICATOR */
.span-notifications-indicator {
    position: absolute;
    top: -0.2rem;
    right: 0.2rem;
    display: block;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    font-size: 0.2rem; /* Minimize empty space. */
    background-color: var(--secondary);
    border-radius: var(--border-radius-circle);
    cursor: pointer;
    z-index: 1;
}

.span-notifications-indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    font-size: 0.2rem; /* Minimize empty space. */
    background-color: var(--secondary);
    border-radius: var(--border-radius-circle);
    transform: translate(-50%, -50%);
    animation-name: notifications-indicator;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes notifications-indicator {
    from {
        width: 0.8rem;
        opacity: var(--opacity-full);
    }

    to {
        width: 2.4rem;
        opacity: 0;
    }
}

/* BUTTON ICON (OVERRIDE) */
.btn-nav-icon::before {
    content: "";
    position: absolute;
    top: -1.6rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    transition: all 0.3s;
}

.active-btn-icon::before,
.btn-nav-icon:hover::before {
    left: unset;
    right: 0;
    width: 100%;
    background-color: var(--primary-tint);
}

/* CLIENTS & NOTIFICATIONS MENU HEADER */
.clients-menu-header,
.notifications-menu-header {
    position: relative;
    padding: 0.8rem 1.2rem;
    background-color: var(--white);
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    z-index: 3;
}

.clients-menu-header::after,
.notifications-menu-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.clients-menu-header h4,
.notifications-menu-header h4 {
    font-size: 1.4rem;
    font-weight: normal;
}

.clients-menu-header span,
.notifications-menu-header span {
    color: var(--primary);
}

/* BUTTON (OVERRIDE) */
.btn-mark-as-read {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
}

/* CLIENTS & NOTIFICATIONS MENU LIST */
.clients-menu-list,
.notifications-menu-list {
    width: 32rem;
    height: calc(5 * 6.4rem);
    box-shadow: none;
    border-radius: 0;
}

.clients-menu-list::-webkit-scrollbar,
.notifications-menu-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-lg);
}

.clients-menu-list::-webkit-scrollbar-thumb,
.notifications-menu-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: var(--border-radius-lg);
}

/* CLIENTS & NOTIFICATIONS MENU LIST ITEM */
.clients-menu-list-item,
.notifications-menu-list-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    padding: 1.2rem;
    transition: opacity 0.3s;
}

/* CLIENT MENU LIST ITEM FORM */
.clients-menu-list-item form {
    display: inherit;
    align-items: inherit;
    gap: inherit;
}

.clients-menu-list-item::after,
.notifications-menu-list-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.viewing-as-client::before,
.unread-notification::before {
    content: "";
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
    transition: background-color 0.3s;
}

.clients-menu-list-item:hover,
.notifications-menu-list-item:hover {
    opacity: var(--opacity-md);
}

/* NOTIFICATIONS ICON CONTAINER */
.div-clients-icon-container,
.div-notifications-icon-container {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    box-shadow: 0 0.4rem 1.2rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

.div-clients-icon-container ion-icon,
.div-notifications-icon-container ion-icon {
    font-size: 1.8rem;
    color: var(--white);
}

/* CLIENTS & NOTIFICATIONS INFO CONTAINER */
.div-clients-info-container,
.div-notifications-info-container {
    display: inherit;
    flex-direction: column;
}

.div-clients-info-container h4,
.div-notifications-info-container h4 {
    font-size: 1.4rem;
}

.div-clients-info-container span,
.div-notifications-info-container span {
    font-size: 1rem;
    text-transform: uppercase;
}

/* CLIENTS NOTIFICATIONS MENU FOOTER */
.clients-menu-footer,
.notifications-menu-footer {
    position: relative;
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
    overflow: hidden;
    z-index: 3;
}

/* LINK (OVERRIDE) */
.clients-menu-footer a:link,
.clients-menu-footer a:visited,
.notifications-menu-footer a:link,
.notifications-menu-footer a:visited {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 0;
}
