/* PAGE LOADER CONTAINER */
.div-page-loader-container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: all 0.5s;
    z-index: 9999;
}

/* PAGE LOADER TOGGLER */
.hide-page-loader {
    opacity: 0;
    z-index: -1;
}

/* PAGE LOADER CONTENT CONTAINER */
.div-page-loader-content-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* PAGE LOADER CONTENT HEADER */
.page-loader-content-header {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 0.8rem;
}

.page-loader-content-header ion-icon {
    font-size: 6.4rem;
}

.page-loader-content-header h2 {
    position: relative;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.page-loader-content-header h2::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    width: 75%;
    height: 0.2rem;
    background-image: var(--gradient-theme);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transform: translateX(-50%);
}

.page-loader-content-header span {
    color: var(--primary);
}

/* PAGE LOADER VISUALS CONTAINER */
.div-page-loader-visuals-container {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 0.4rem;
}

.div-page-loader-visuals-container span {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    animation-name: loader-span-indicator;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes loader-span-indicator {
    from {
        opacity: var(--opacity-full);
    }

    to {
        opacity: var(--opacity-md);
    }
}

.div-page-loader-visuals-container ion-icon {
    font-size: 3.6rem;
    color: var(--primary);
    animation-name: loader-icon-indicator;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes loader-icon-indicator {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
