/* SIDEBAR CONTAINER */
.div-sidebar-container {
    width: 32rem;
    height: inherit;
    background-color: var(--primary);
    box-shadow: 0.2rem 0 0.8rem var(--shadow-sm);
    transition: width 0.5s;
}

/* SIDER CONTAINER TYPES */
.sidebar-container-expand,
.sidebar-container-collapse {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    transition: transform 0.5s;
}

.sidebar-container-expand {
    width: 32rem;
    z-index: 2;
}

.sidebar-container-collapse {
    width: 9.6rem;
    z-index: 1;
}

.collapse-sidebar {
    transform: translateX(-100%);
}

/* SIDEBAR HEADER */
.sidebar-header {
    position: relative;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    height: 6.4rem;
    padding: 2.4rem;
}

.sidebar-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translate(-50%, 50%);
}

/* LOGO CONTAINER (OVERRIDE) */
.dashboard-logo-container ion-icon {
    font-size: 3rem;
}

.dashboard-logo-container h2 {
    font-size: 2rem;
    color: var(--white);
}

/* SIDEBAR BUTTON ICON */
.sidebar-header .btn-icon {
    color: var(--white);
}

.btn-sidebar-menu-close {
    transform: rotate(-90deg);
}

.sidebar-header .btn-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
}

.sidebar-header .btn-icon:hover::before {
    background-color: var(--white);
}

/* SIDEBAR NAVIGATION */
.sidebar-navigation {
    height: calc(100vh - (2 * (6.4rem + 2.4rem)));
    margin: 0 2.4rem;
    border-radius: var(--border-radius-md);
    /* overflow-y: scroll; */
}

.sidebar-navigation::-webkit-scrollbar {
    display: none;
}

/* SIDEBAR NAV LIST */
.sidebar-nav-list {
    display: flex;
    flex-direction: column;
}

.sidebar-nav-list-expand {
    gap: 1.6rem;
}

.sidebar-nav-list-collapse {
    gap: 2.4rem;
}

/* SIDEBAR NAV LIST ITEM */
.sidebar-nav-list-item {
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 0.8rem;
}

.sidebar-nav-list-item-collapse:not(:first-child)::before {
    content: "";
    position: absolute;
    top: -1.2rem;
    left: 50%;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transform: translate(-50%, -50%);
}

/* SIDEBAR NAV LIST ITEM HEADER */
.sidebar-nav-list-item-header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.sidebar-nav-heading {
    font-size: 1.4rem;
    color: var(--white);
}

.btn-sidebar-dropdown ion-icon {
    font-size: 1.8rem;
    color: var(--white);
}

.rotate-chevron-to-right {
    transform: rotate(-90deg);
}

/* SIDEBAR NAV LINKS LIST */
.sidebar-links-list {
    display: inherit;
    flex-direction: column;
}

/* SIDEBAR NAV LINKS LIST */
.sidebar-links-list-item {
    position: relative;
}

/* SIDEBAR NAV LINK */
.sidebar-link:link,
.sidebar-link:visited {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem;
    color: var(--primary);
    background-color: var(--white);
    transition: all 0.3s;
}

/* DYNAMIC BORDER RADIUS FOR SIDEBAR LINKS */
.sidebar-links-list-item:only-child .sidebar-link:link,
.sidebar-links-list-item:only-child .sidebar-link:visited {
    border-radius: var(--border-radius-md);
}

.sidebar-links-list-item:first-child:not(:only-child) .sidebar-link:link,
.sidebar-links-list-item:first-child:not(:only-child) .sidebar-link:visited {
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}

.sidebar-links-list-item:last-child:not(:only-child) .sidebar-link:link,
.sidebar-links-list-item:last-child:not(:only-child) .sidebar-link:visited {
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

.sidebar-link-expand:link::after,
.sidebar-link-expand:visited::after,
.sidebar-link-collapse:link::after,
.sidebar-link-collapse:visited::after {
    content: "";
    position: absolute;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    transition: background-color 0.3s;
}

.sidebar-link-expand:link::after,
.sidebar-link-expand:visited::after {
    top: 50%;
    right: 1.2rem;
    width: 0.8rem;
    transform: translateY(-50%);
}

.sidebar-link-collapse:link::after,
.sidebar-link-collapse:visited::after {
    top: 0.4rem;
    right: 0.4rem;
    width: 0.6rem;
}

.sidebar-link-icon {
    font-size: 1.6rem;
    color: inherit;
}

.span-sidebar-link-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: inherit;
}

.sidebar-link:hover,
.sidebar-link:active,
.active-sidebar-link:link,
.active-sidebar-link:visited {
    color: var(--primary-tint);
    background-color: var(--gray-tint);
}

.sidebar-link:hover::after,
.sidebar-link:active::after,
.active-sidebar-link:link::after,
.active-sidebar-link:visited::after {
    background-color: var(--primary-tint);
}

/* SIDEBAR LINK NAME CONTAINER COLLAPSE */
.div-sidebar-link-name-container-collapse {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    transform: translate(calc(100% + 1.6rem), -50%);
}

.span-sidebar-link-indicator-collapse {
    position: absolute;
    top: 50%;
    left: -0.6rem;
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: -0.2rem 0 1.2rem var(--shadow-sm);
    border-radius: var(--border-radius-md);
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

.text-sidebar-link-name-collapse {
    position: relative;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-md);
    z-index: 2;
}

.sidebar-link-collapse:hover + .div-sidebar-link-name-container-collapse,
.sidebar-link-collapse:active + .div-sidebar-link-name-container-collapse {
    display: block;
}

/* SIDEBAR FOOTER */
.sidebar-footer {
    height: 6.4rem;
    background-color: var(--white);
}

/* SIDEBAR USER CONTENT CONTAINER */
.div-sidebar-user-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 2.4rem;
}

.div-sidebar-user-info-container {
    display: inherit;
    align-items: inherit;
    gap: 1.2rem;
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-sidebar-user-image-container {
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* SIDEBAR USER DESCRIPTION CONTAINER */
.div-sidebar-user-description-container {
    display: inherit;
    flex-direction: column;
    gap: 0.2rem;
}

.text-username {
    font-size: 1.4rem;
}

.text-role-name {
    font-size: 1rem;
    text-transform: uppercase;
}

/* LINK ICON (OVERRIDE) */
.link-sidebar-logout:link ion-icon,
.link-sidebar-logout:visited ion-icon {
    font-size: 1.8rem;
}

.link-sidebar-logout::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
}

.link-sidebar-logout:hover ion-icon,
.link-sidebar-logout:active ion-icon {
    color: var(--white);
}

.link-sidebar-logout:hover:before,
.link-sidebar-logout:active:before {
    background-color: var(--primary);
}
