/* ROOT */
html {
    font-size: 10px;
}

/* BODY */
body {
    height: 100vh;
    background-image: var(--gradient-theme);
}

body::-webkit-scrollbar {
    display: none;
}

/* ALL */
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--gray-shade);
    box-sizing: border-box;
}

/* LISTS */
ul {
    list-style: none;
}

/* LINKS */
a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* INPUTS */
input {
    all: unset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    cursor: pointer;
}

input:focus,
select:focus {
    box-shadow: inset 0 0 0 0.2rem var(--primary-tint) !important;
}

input::placeholder {
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* SELECT */
select {
    all: unset;
    cursor: pointer;
}

/* ICONS */
ion-icon {
    font-size: 2.4rem;
    color: var(--primary-tint);
}
