/* POSITION */
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* OVERLAYS */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* OVERLAY TYPES */
.image-overlay {
    backdrop-filter: blur(0.2rem);
    opacity: var(--opacity-xl);
}

/* FLEX LAYOUTS */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GRID LAYOUTS */
.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
}

/* HEADINGS */
.heading-primary {
    font-size: 2.4rem;
    font-weight: 700;
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 600;
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 500;
}

/* MULTIPLE INPUTS GRID */
.div-multiple-inputs-grid {
    display: grid;
    gap: 1.6rem;
}

/* INPUT CONTAINERS */
.div-input-container {
    position: relative;
    display: flex;
}

.div-input-container label {
    display: inline-block;
    text-transform: uppercase;
}

.div-input-container input {
    all: unset;
    width: 100%;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.6rem;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md);
    caret-color: var(--gray-shade);
}

/* BUTTON CONTAINER */
.div-grid-btn-container {
    display: grid;
    margin-top: 0.4rem;
}

/* BUTTONS */
.btn {
    all: unset;
    display: block;
    width: 100%;
    padding: 1.2rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: var(--border-radius-md);
    transition: all 0.3s;
    cursor: pointer;
}

/* PRIMARY BUTTON TYPES */
.btn-primary {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-shade);
}

.btn-outline-primary {
    color: var(--primary);
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--primary-tint);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary-tint);
}

/* IMAGE CONTAINER */
.div-image-container {
    position: relative;
    display: flex;
    width: 100%;
}

.div-image-container img {
    width: inherit;
    object-position: center;
    object-fit: cover;
}

/* HIDDEN INPUTS */
.div-hidden-inputs {
    display: none;
}
