:root {
    --font-family: "Nunito", sans-serif;
    --white: white;
    --gray-tint: #f4f4f4;
    --gray-shade: #212529;
    --primary: #91a7ff;
    --primary-tint: #bac8ff;
    --primary-shade: #748ffc;
    --secondary: #63e6be;
    --secondary-tint: #96f2d7;
    --secondary-shade: #38d9a9;
    --gradient-theme: linear-gradient(to right top, var(--primary-tint), var(--secondary-tint));
    --pending: #339af0;
    --warning: #fcc419;
    --success: #51cf66;
    --error: #ff6b6b;
    --transparent-black-xs: rgba(0, 0, 0, var(--opacity-xs));
    --transparent-black-sm: rgba(0, 0, 0, var(--opacity-sm));
    --transparent-black-md: rgba(0, 0, 0, var(--opacity-md));
    --transparent-black-lg: rgba(0, 0, 0, var(--opacity-lg));
    --transparent-black-xl: rgba(0, 0, 0, var(--opacity-xl));
    --shadow-sm: rgba(0, 0, 0, 0.1);
    --shadow-md: rgba(0, 0, 0, 0.15);
    --shadow-lg: rgba(0, 0, 0, 0.2);
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.4rem;
    --border-radius-lg: 0.8rem;
    --border-radius-xl: 1.2rem;
    --border-radius-circle: 50%;
    --opacity-none: 0;
    --opacity-xs: 0.1;
    --opacity-sm: 0.2;
    --opacity-md: 0.4;
    --opacity-lg: 0.6;
    --opacity-xl: 0.8;
    --opacity-full: 1;
}
