/* ALERT MODAL CONTAINER */
.div-alert-modal-container {
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black-md);
    transition: all 0.5s;
    z-index: 9999;
}

/* ALERT MODAL TOGGLER */
.hide-alert {
    opacity: 0;
    z-index: -1;
}

/* ALERT MODAL */
.div-alert-modal {
    width: 56rem;
    padding: 3.2rem;
    background-color: var(--white);
    border-radius: var(--border-radius-xl);
}

/* ICON CONTAINER */
.div-alert-modal-icon-container {
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    margin: 0 auto 2.4rem;
    background-color: var(--success);
    border-radius: var(--border-radius-circle);
}

.div-alert-modal-icon-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    animation-name: alert-circle-indicator;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes alert-circle-indicator {
    from {
        width: inherit;
        height: inherit;
        opacity: var(--opacity-full);
    }

    to {
        width: 12.8rem;
        height: 12.8rem;
        opacity: 0;
    }
}

.div-alert-modal-icon-container ion-icon {
    font-size: 5.6rem;
    color: var(--white);
}

.alert-icon-animation {
    animation-name: alert-icon-indicator;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-duration: 0.8s;
}

@keyframes alert-icon-indicator {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* ALERT MODAL CONTENT */
.alert-modal-content-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1.8rem;
    text-align: center;
}

.alert-modal-heading {
    font-size: 2.4rem;
}

.alert-modal-message {
    font-size: 1.8rem;
}

/* ALERT MODAL BUTTON CONTAINER */
.div-alert-modal-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.div-alert-modal-btn-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateX(-50%);
}

/* BUTTON (OVERRIDE) */
.btn-alert-modal-close {
    width: 19.6rem;
}
