/* IMAGE MODAL CONTAINER */
.div-image-modal-container {
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black-md);
    transition: all 0.5s;
    z-index: 9999;
}

.hide-image-modal {
    opacity: 0;
    z-index: -1;
}

/* IMAGE MODAL */
.div-image-modal {
    display: flex;
    justify-content: center;
    width: 80rem;
}

/* BUTTON ICON (OVERRIDE) */
.btn-close-image-modal {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0.4rem 0.8rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
    transition: all 0.3s;
    z-index: 1;
}

.btn-close-image-modal:hover ion-icon {
    color: var(--primary-tint);
}

.btn-close-image-modal:hover {
    background-color: var(--gray-tint);
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-image-modal .div-image-container {
    border-radius: var(--border-radius-lg);
}
