/* RESOLVE-TICKET MODAL CONTAINER */
.div-resolve-ticket-modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black-md);
    transition: all 0.5s;
    z-index: 9999;
}

.hide-resolve-ticket-modal {
    opacity: 0;
    z-index: -1;
}

/* RESOLVE-TICKET MODAL */
.div-resolve-ticket-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    max-width: 48rem;
    height: fit-content;
    padding: 2.4rem;
    background-color: var(--white);
    border-radius: var(--border-radius-lg);
}

/* BUTTON ICON (OVERRIDE) */
.btn-icon.btn-close-resolve-ticket-modal {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
    transition: all 0.3s;
    z-index: 1;
}

.btn-icon.btn-close-resolve-ticket-modal:hover ion-icon {
    color: var(--primary-tint);
}

.btn-icon.btn-close-resolve-ticket-modal:hover {
    background-color: var(--gray-tint);
}

/* RESOLVE-TICKET MODAL HEADER */
.resolve-ticket-modal-header {
    text-align: center;
}

.resolve-ticket-modal-header h2 {
    font-size: 2rem;
}

.resolve-ticket-modal-header p {
    font-size: 1.6rem;
}

.resolve-ticket-modal-header span {
    font-weight: 500;
    color: var(--primary);
}

/* GRID BUTTON CONTAINER (OVERRIDE) */
.div-grid-resolve-ticket-modal-btn-container {
    column-gap: 1.6rem;
}

/* BUTTON (OVERRIDE) */
.div-grid-resolve-ticket-modal-btn-container button {
    gap: 0.4rem;
    padding: 0.8rem;
    font-size: 1.2rem;
}
