/* CHAT MENU CONTAINER */
.div-chat-menu-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* CHAT MENU */
.div-chat-menu {
    position: inherit;
    bottom: 1.2rem;
    right: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 48rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    transition: transform 0.5s;
}

.hide-chat-menu {
    transform: translateY(calc(100% + 2.4rem));
}

/* CHAT MENU HEADER */
.chat-menu-header {
    position: relative;
    height: 4.8rem;
    padding: 0 1.2rem;
}

.chat-menu-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.chat-menu-header-heading {
    font-size: 1.6rem;
}

.btn-close-chat-menu {
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
}

/* CHAT MESSAGES LIST */
.div-chat-messages-list-container {
    flex-grow: 1;
    padding: 0 1.2rem;
}

/* CHAT MESSAGES LIST */
.chat-messages-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 0; /* Height will be calculated dynamically. */
    padding-right: 1.2rem;
    border-radius: var(--border-radius-md);
    overflow-y: scroll;
}

.chat-messages-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
}

.chat-messages-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: inherit;
}

/* CHAT MESSAGES LIST ITEM */
.chat-messages-list-item {
    display: inherit;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1.2rem;
    width: 100%;
}

.chat-messages-list-item:first-child {
    margin-top: auto; /* Push all messages to the bottom. */
}

.message-author-other {
    flex-direction: row;
}

/* CHAT USER IDENTIFIER CONTAINER */
.div-chat-user-identifier-container {
    flex-shrink: 0;
    position: relative;
    display: none;
}

.message-author-other .div-chat-user-identifier-container {
    display: block;
}

/* SPAN CHAT ACTIVITY STATUS */
.span-chat-activity-status {
    position: absolute;
    bottom: 0;
    right: 0.2rem;
    width: 1rem;
    aspect-ratio: 1 / 1;
    font-size: 0.2rem;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
}

.status-inactive {
    background-color: var(--error);
}

.status-active {
    background-color: var(--success);
}

.message-author-other .span-chat-activity-status {
    left: 0.2rem;
    right: unset;
}

/* CHAT MESSAGE DATA CONTAINER */
.div-chat-message-data-container {
    flex-grow: 1;
    position: relative;
    display: inherit;
    flex-direction: column;
    gap: 0.4rem;
    margin-right: 0.6rem;
}

.message-author-other .div-chat-message-data-container {
    margin-right: 0;
}

.div-chat-message-data-container::before {
    content: "";
    position: absolute;
    top: 0.2rem;
    right: -0.6rem;
    width: 1.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md);
    transform: rotate(45deg);
}

.message-author-other .div-chat-message-data-container::before {
    left: -0.6rem;
    right: unset;
}

.text-chat-message {
    position: relative;
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md);
    overflow: hidden;
}

.text-chat-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary-tint);
}

.message-author-other .text-chat-message::before {
    left: unset;
    right: 0;
}

.span-chat-message-timestamp {
    position: relative;
    display: inline-block;
    text-align: right;
    padding: 0 1.2rem;
    font-size: 1rem;
}

.message-author-other .span-chat-message-timestamp {
    text-align: left;
}

.span-chat-message-timestamp::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-tint);
    border-radius: var(--border-radius-circle);
    transform: translateY(-50%);
}

.message-author-other .span-chat-message-timestamp::before {
    left: 0;
    right: unset;
}

/* FORM POST CHAT MESSAGE */
.form-post-chat-message {
    position: relative;
    gap: 1.2rem;
    padding: 1.2rem;
}

.form-post-chat-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

/* INPUT CONTAINER (OVERRIDE) */
.form-post-chat-message .div-input-container {
    flex-grow: 1;
}

.form-post-chat-message .div-input-container input {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

/* BUTTON ICON (OVERRIDE) */
.form-post-chat-message button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
}

.form-post-chat-message button ion-icon {
    font-size: 1.8rem;
    color: var(--white);
}

/* CHAT MENU BUTTON CONTAINER */
.div-show-chat-menu-btn-container {
    position: inherit;
    bottom: -2.8rem;
    right: -2.8rem;
    transition: all 0.5s;
}

.hide-show-chat-menu-btn-container {
    bottom: -5.6rem;
    right: -5.6rem;
    opacity: 0;
}

.div-show-chat-menu-btn-container:hover {
    bottom: 1.2rem;
    right: 1.2rem;
}

/* BUTTON ICON (OVERRIDE) */
.btn-show-chat-menu {
    width: 4.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: 0 0 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}
