/* CHAT MENU CONTAINER */
.div-chat-menu-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* CHAT MENU */
.div-chat-menu {
    position: inherit;
    bottom: 1.2rem;
    right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    transition: transform 0.5s;
}

.hide-chat-menu {
    transform: translateY(calc(100% + 2.4rem));
}

/* CHAT MENU HEADER */
.chat-menu-header {
    position: relative;
    height: 4.8rem;
    padding: 0 1.2rem;
}

.chat-menu-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.chat-menu-header-heading {
    font-size: 1.6rem;
}

.btn-close-chat-menu {
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
}

/* FORM POST CHAT MESSAGE */
.form-post-chat-message {
    position: relative;
    gap: 1.2rem;
    padding: 1.2rem;
}

.form-post-chat-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

/* INPUT CONTAINER (OVERRIDE) */
.form-post-chat-message .div-input-container {
    flex-grow: 1;
}

.form-post-chat-message .div-input-container input {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

/* BUTTON ICON (OVERRIDE) */
.form-post-chat-message button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
}

.form-post-chat-message button ion-icon {
    font-size: 1.8rem;
    color: var(--white);
}

/* CHAT MENU BUTTON CONTAINER */
.div-show-chat-menu-btn-container {
    position: inherit;
    bottom: -2.8rem;
    right: -2.8rem;
    transition: all 0.5s;
}

.hide-show-chat-menu-btn-container {
    bottom: -5.6rem;
    right: -5.6rem;
    opacity: 0;
}

.div-show-chat-menu-btn-container:hover {
    bottom: 1.2rem;
    right: 1.2rem;
}

/* BUTTON ICON (OVERRIDE) */
.btn-show-chat-menu {
    width: 4.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: 0 0 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}
