Sponsor Email: ivica.crep@plavitim.hr

Requirements:
	- 3 types of users (Admin, Assistant, Patron). (YES)
	- Request/Response actions with tickets. (YES)
	- Ticket overview and time management. (YES)
	- Keep history of all solved requests per Assistant. (YES)
	- Patron will be able to edit a posted request before is was responded to. (FUTURE TASK (MAYBE))
    	- Patron will be able to cancel a posted request. (YES)
    	- Patron will be able to leave a review of the Assistant’s response. (FUTURE TASK (MAYBE))
    	- Tickets will be closed by the Assistant, or after some time of inactivity. (YES)
	- Logs will be kept on actions made within the app. (YES)

Security:
	- Data sanitization/validation to prevent XSS. (YES)
	- Prepared SQL statements to prevent query injections. (YES)
	- Separate interface for Administrators. (NOT GONNA HAPPEN)
	- Session tokens to prevent CSRF. (YES)
    - Check user activity based on actions. (FUTURE TASK)
    - Implement error handling. (FUTURE TASK)

Extras (Gamification):
	- Assistants Leaderboard; by overall review, or by # of resolved tickets. (YES)
	- The app will have several levels of Assistants (Rookie, Junior, Senior, Legend). (YES)
	- Each Assistant will be able to keep track of their status. (YES)
    - Leaderboard status will be accessible via modal window. (YES)

Required Pages:
	- Dashboard (YES)
	- Request View (Ticket Details) (YES)
	- Profile View (YES)
	- Leaderboard (YES)
	- Leagues (YES)
	- Notifications (YES)
	- Users (YES)
	- Statistics (YES)
	- Logs (YES)

Optional Features:
    - Chat Popup (YES)
	- Image Uploads (Using FormData in JS) (YES)
	- Forgot Password (FUTURE TASK)
	- Email Confirmations (FUTURE TASK)
	- Blog Page (Follow/Unfollow) (FUTURE TASK (MAYBE))
