/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
    overflow: hidden;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* DASHBOARD CONTAINER */
.div-dashboard-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* DASHBOARD CONTENT CONTAINER */
.div-dashboard-content-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: inherit;
    gap: 2.4rem;
}

/* DASHBOARD OVERVIEW LIST */
.dashboard-overview-list {
    display: grid;
    gap: 2.4rem;
}

/* DASHBOARD OVERVIEW LIST ITEM */
.dashboard-overview-list-item {
    position: relative;
    height: fit-content;
    padding: 1.6rem 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}

/* DASHBOARD OVERVIEW ITEM ICON CONTAINER */
.div-overview-item-icon-container {
    position: absolute;
    top: -2.4rem;
    left: -2.4rem;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
}

.div-overview-item-icon-container ion-icon {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    color: var(--white);
}

/* OVERVIEW ITEM DATA CONTAINER */
.div-overview-item-data-container {
    text-align: right;
}

.div-overview-item-data-container span {
    font-size: 3rem;
    font-weight: 600;
}

.div-overview-item-data-container h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

/* DASHBOARD TICKETS CONTAINER */
.div-dashboard-tickets-container {
    flex-grow: inherit;
    display: inherit;
    flex-direction: inherit;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* TICKETS CONTAINER HEADER */
.tickets-container-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.tickets-container-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.tickets-container-header-heading {
    font-size: 1.6rem;
}

/* TICKETS ACTIONS CONTAINER */
.div-tickets-actions-container {
    display: inherit;
    align-items: center;
    gap: 0.8rem;
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container .label-select {
    right: 0.8rem;
}

.div-input-container select {
    width: 16rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

.div-input-container ion-icon {
    font-size: 2rem;
}

/* LINK (OVERRIDE) */
.div-tickets-actions-container a:link,
.div-tickets-actions-container a:visited {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

/* TICKETS LIST OVERVIEW CONTAINER */
.div-tickets-list-overview-container {
    flex-grow: 1;
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    padding: 2.4rem;
}

/* TICKETS LIST OVERVIEW HEADER */
.tickets-list-overview-header {
    display: grid;
    grid-template-columns: 6.4rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    height: 2rem;
    padding: 0 1.6rem;
}

.tickets-list-overview-header p {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.tickets-list-overview-header p:last-child {
    text-align: right;
}

/* TICKETS LIST CONTAINER */
.div-tickets-list-container {
    position: relative;
}

/* TICKETS LIST */
.tickets-list {
    border-radius: var(--border-radius-lg);
}

.tickets-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
}

.tickets-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: inherit;
}

/* TICKETS LIST */
.tickets-list-item {
    position: relative;
    display: grid;
    grid-template-columns: 6.4rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
    transition: opacity 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.tickets-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.tickets-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    transform: translateY(50%);
}

.tickets-list-item:hover::before {
    background-color: var(--primary);
}

.tickets-list-item:hover {
    opacity: var(--opacity-lg);
}

/* TICKETS ID CONTENT CONTAINER */
.div-tickets-id-content-container p {
    font-size: 1.4rem;
}

/* TICKETS PATRON CONTENT CONTAINER */
.div-tickets-patron-content-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-list-item-user-image-container {
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* TICKETS PATRON/SUBJECT/ASSISTANT INFO CONTAINER */
.div-tickets-patron-info-container,
.div-tickets-subject-info-container,
.div-tickets-assistant-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.div-tickets-patron-info-container p,
.div-tickets-subject-info-container p,
.div-tickets-assistant-info-container p {
    font-size: 1.4rem;
}

.div-tickets-patron-info-container span,
.div-tickets-subject-info-container span,
.div-tickets-assistant-info-container span {
    font-size: 1rem;
    text-transform: uppercase;
}

/* TICKETS STATUS INFO CONTAINER */
.div-tickets-status-info-container {
    justify-self: end;
    width: fit-content;
    padding: 0.6rem 0.8rem;
    text-align: center;
    color: var(--white);
    background-color: transparent;
    border-radius: var(--border-radius-md);
}

.status-pending {
    background-color: var(--pending);
}

.status-unassigned {
    background-color: var(--warning);
}

.status-resolved {
    background-color: var(--success);
}

.status-cancelled {
    background-color: var(--error);
}

.div-tickets-status-info-container p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: inherit;
}

/* TICKETS CONTAINER FOOTER */
.tickets-container-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.tickets-container-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.tickets-container-footer p {
    font-size: 1.4rem;
}

.tickets-container-footer span {
    font-weight: 500;
    color: var(--primary);
}
