/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* LEADERBOARD CONTAINER */
.div-leaderboard-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* LEADERBOARD CONTENT CONTAINER */
.div-leaderboard-content-container {
    flex-grow: inherit;
    display: inherit;
    flex-direction: inherit;
    gap: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* LEADERBOARD CONTENT HEADER */
.leaderboard-content-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.leaderboard-content-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.leaderboard-content-header-heading {
    font-size: 1.6rem;
}

/* LEADERBOARD ACTIONS CONTAINER */
.div-leaderboard-actions-container {
    display: inherit;
    align-items: center;
    gap: 1.2rem;
}

/* LEAGUE ICON CONTAINER */
.div-league-icon-container {
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    box-shadow: 0 0.4rem 1.2rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

.div-league-icon-container ion-icon {
    font-size: 2.4rem;
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container .label-select {
    right: 0.8rem;
}

.div-input-container select {
    width: 16rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

.div-input-container ion-icon {
    font-size: 2rem;
}

/* LEADERBOARD OVERVIEW CONTAINER */
.div-leaderboard-overview-container {
    flex-grow: inherit;
    position: relative;
    display: inherit;
    flex-direction: inherit;
    padding: 0 2.4rem;
}

/* LEADERBOARD OVERVIEW HEADER */
.leaderboard-overview-header {
    display: grid;
    grid-template-columns: 12rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    height: 2rem;
    padding: 0 1.6rem;
}

.leaderboard-overview-header p {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.leaderboard-overview-header p:last-child {
    text-align: right;
}

/* ASSISTANTS LIST CONTAINER */
.div-assistants-list-container {
    flex-grow: inherit;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
}

/* ASSISTANTS LIST */
.assistants-list {
    border-radius: var(--border-radius-lg);
}

.assistants-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
}

.assistants-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: inherit;
}

/* ASSISTANTS LIST */
.assistants-list-item {
    position: relative;
    display: grid;
    grid-template-columns: 12rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
    transition: opacity 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.assistants-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.assistants-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    transform: translateY(50%);
}

.assistants-list-item:hover::before {
    background-color: var(--primary);
}

.assistants-list-item-1:hover::before {
    background-color: var(--gold);
}

.assistants-list-item-2:hover::before {
    background-color: var(--silver);
}

.assistants-list-item-3:hover::before {
    background-color: var(--bronze);
}

.assistants-list-item:hover {
    opacity: var(--opacity-lg);
}

/* ASSISTANTS POSITION CONTENT CONTAINER */
.div-assistants-position-content-container p {
    font-size: 1.4rem;
}

/* ASSISTANTS DATA CONTENT CONTAINER */
.div-assistants-data-content-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.span-position-indicator {
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    display: block;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    font-size: 0.2rem; /* Minimize empty space. */
    background-color: transparent;
    border-radius: var(--border-radius-circle);
}

.span-position-indicator-1 {
    background-color: var(--gold);
}

.span-position-indicator-2 {
    background-color: var(--silver);
}

.span-position-indicator-3 {
    background-color: var(--bronze);
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-list-item-user-image-container {
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* ASSISTANTS DATA/EMAIL/TICKETS INFO CONTAINER */
.div-assistants-data-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.div-assistants-data-info-container p,
.div-assistants-tickets-info-container p {
    font-size: 1.4rem;
}

.div-assistants-data-info-container span {
    font-size: 1rem;
    text-transform: uppercase;
}

.div-assistants-email-info-container a:link,
.div-assistants-email-info-container a:visited {
    font-size: 1.4rem;
    color: var(--primary);
}

/* ASSISTANTS ACTIVITY INFO CONTAINER */
.div-assistants-activity-info-container {
    justify-self: end;
    width: fit-content;
    padding: 0.6rem 0.8rem;
    text-align: center;
    color: var(--white);
    background-color: transparent;
    border-radius: var(--border-radius-md);
}

.status-active {
    background-color: var(--success);
}

.status-inactive {
    background-color: var(--error);
}

.div-assistants-activity-info-container p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: inherit;
}

/* LEADER CONTENT FOOTER */
.leaderboard-content-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.leaderboard-content-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.leaderboard-content-footer p {
    font-size: 1.4rem;
}

.leaderboard-content-footer span {
    font-weight: 500;
    color: var(--primary);
}
