/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* LEADERBOARD CONTAINER */
.div-leaderboard-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* LEADERBOARD CONTENT CONTAINER */
.div-leaderboard-content-container {
    flex-grow: inherit;
    display: inherit;
    flex-direction: inherit;
    gap: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* LEADERBOARD CONTENT HEADER */
.leaderboard-content-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.leaderboard-content-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.leaderboard-content-header-heading {
    font-size: 1.6rem;
}

/* TICKETS ACTIONS CONTAINER */
.div-pagination-btns-container {
    display: inherit;
    align-items: center;
    gap: 0.8rem;
}

/* BUTTON (OVERRIDE) */
.btn-pagination {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

.btn-pagination ion-icon {
    font-size: 1.4rem;
}

/* TICKETS LIST OVERVIEW CONTAINER */
.div-leaderboard-overview-container {
    flex-grow: inherit;
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    padding: 0 2.4rem;
}

/* TICKETS LIST OVERVIEW HEADER */
.leaderboard-overview-header {
    display: grid;
    grid-template-columns: 12rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    height: 2rem;
    padding: 0 3.6rem 0 1.6rem;
}

.leaderboard-overview-header p {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.leaderboard-overview-header p:last-child {
    text-align: right;
}

/* LEADER CONTENT FOOTER */
.leaderboard-content-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.leaderboard-content-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.leaderboard-content-footer p {
    font-size: 1.4rem;
}

.leaderboard-content-footer span {
    font-weight: 500;
    color: var(--primary);
}
