/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* LEAGUES CONTAINER */
.div-leagues-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* LEAGUES OVERVIEW LIST */
.leagues-overview-list {
    flex-grow: inherit;
    display: grid;
    gap: 2.4rem;
}

/* LEAGUES OVERVIEW LIST ITEM */
.leagues-overview-list-item {
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}
