/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* LEAGUES CONTAINER */
.div-leagues-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* LEAGUES OVERVIEW LIST */
.leagues-overview-list {
    flex-grow: inherit;
    display: grid;
    gap: 2.4rem;
}

/* LEAGUES OVERVIEW LIST ITEM */
.leagues-overview-list-item {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}

.leagues-overview-list-item::after {
    content: "";
    position: absolute;
    bottom: -6.4rem;
    left: -6.4rem;
    display: inline-block;
    width: 16rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
    z-index: 1;
}

/* LEAGUE OVERVIEW ICON CONTAINER */
.div-league-overview-icon-container {
    position: absolute;
    top: -4.8rem;
    left: -4.8rem;
    width: 16rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
}

.div-league-overview-icon-container ion-icon {
    position: absolute;
    bottom: 2.8rem;
    right: 2.8rem;
    font-size: 7.4rem;
    color: var(--white);
}

/* LEAGUE OVERVIEW INFO CONTAINER */
.div-league-overview-info-container {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    padding-right: 1.2rem;
    text-align: right;
    transform: translateY(-120%);
}

.div-league-overview-info-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.legendary-info::after {
    background-image: var(--gradient-theme);
    background-color: transparent;
}

.div-league-overview-info-container h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: var(--primary);
}

.legendary-info h2 {
    color: transparent;
    background-image: var(--gradient-theme);
    background-clip: text;
}

.div-league-overview-info-container p {
    font-size: 1.6rem;
}

.div-league-overview-info-container span {
    font-weight: 500;
    color: var(--primary);
}

/* LEAGUE OVERVIEW LEADER CONTAINER */
.div-league-overview-leader-container {
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
    padding-bottom: 1.2rem;
}

.div-league-overview-leader-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12.8rem;
    height: 0.2rem;
    background-color: var(--primary);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}

.legendary-leader::after {
    background-image: var(--gradient-theme);
    background-color: transparent;
}

.div-league-overview-leader-container span {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary);
}

.div-league-overview-leader-container p {
    font-size: 1.8rem;
}

/* LEADERBOARD LINK CONTAINER */
.div-leaderboard-link-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black-xs);
    backdrop-filter: blur(0.8rem);
    transform: translateY(100%);
    transition: transform 0.5s;
    z-index: 2;
}

.div-leaderboard-link-container a:link,
.div-leaderboard-link-container a:visited {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    box-shadow: 0 0.4rem 1.2rem var(--shadow-sm);
}

.div-leaderboard-link-container ion-icon {
    font-size: 1.8rem;
}

.leagues-overview-list-item:hover .div-leaderboard-link-container {
    transform: translateY(0);
}
