/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* LOGS CONTAINER */
.div-logs-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* LOGS OVERVIEW CONTAINER */
.div-logs-overview-container {
    flex-grow: inherit;
    display: inherit;
    flex-direction: inherit;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* LOGS CONTAINER HEADER */
.logs-container-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.logs-container-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.logs-container-header-heading {
    font-size: 1.6rem;
}

/* LOGS ACTIONS CONTAINER */
.div-logs-actions-container {
    display: inherit;
    align-items: center;
    gap: 0.8rem;
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container .label-select {
    right: 0.8rem;
}

.div-input-container select {
    width: 16rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

.div-input-container ion-icon {
    font-size: 2rem;
}

/* LINK (OVERRIDE) */
.div-logs-actions-container a:link,
.div-logs-actions-container a:visited {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

/* LOGS LIST OVERVIEW CONTAINER */
.div-logs-list-overview-container {
    flex-grow: 1;
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    padding: 2.4rem;
}

/* LOGS LIST OVERVIEW HEADER */
.logs-list-overview-header {
    display: grid;
    grid-template-columns: 6.4rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    height: 2rem;
    padding: 0 1.6rem;
}

.logs-list-overview-header p {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.logs-list-overview-header p:last-child {
    text-align: right;
}

/* LOGS LIST CONTAINER */
.div-logs-list-container {
    position: relative;
}

/* LOGS LIST */
.logs-list {
    border-radius: var(--border-radius-lg);
}

.logs-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
}

.logs-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: inherit;
}

/* LOGS LIST */
.logs-list-item {
    position: relative;
    display: grid;
    grid-template-columns: 6.4rem repeat(3, 1fr) 12rem;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
    transition: opacity 0.3s;
    overflow: hidden;
}

.logs-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.logs-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    transform: translateY(50%);
}

.logs-list-item:hover::before {
    background-color: var(--primary);
}

.logs-list-item:hover {
    opacity: var(--opacity-lg);
}

/* LOGS ID CONTENT CONTAINER */
.div-logs-id-content-container p {
    font-size: 1.4rem;
}

/* LOGS USER DATA CONTENT CONTAINER */
.div-logs-user-data-content-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-list-item-user-image-container {
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* LOGS USER/DATA/TIMESTAMP INFO CONTAINER */
.div-logs-user-data-info-container,
.div-logs-data-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.div-logs-user-data-info-container p,
.div-logs-data-info-container p,
.div-logs-timestamp-info-container p {
    font-size: 1.4rem;
}

.div-logs-user-data-info-container span,
.div-logs-data-info-container span {
    font-size: 1rem;
    text-transform: uppercase;
}

/* LOGS ACTIVITY INFO CONTAINER */
.div-logs-type-info-container {
    justify-self: end;
    width: fit-content;
    padding: 0.6rem 0.8rem;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--border-radius-md);
}

.div-logs-type-info-container p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: inherit;
}

/* LOGS CONTAINER FOOTER */
.logs-container-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.logs-container-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.logs-container-footer p {
    font-size: 1.4rem;
}

.logs-container-footer span {
    font-weight: 500;
    color: var(--primary);
}
