/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* STATISTICS CONTAINER */
.div-statistics-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* STATISTICS OVERVIEW LIST */
.statistics-overview-list {
    flex-grow: inherit;
    display: grid;
    gap: 2.4rem;
}

/* STATISTICS OVERVIEW LIST ITEM */
.statistics-overview-list-item {
    position: relative;
    padding: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}

.statistics-overview-list-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 9.6rem;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
    transform: translateY(50%);
}

/* STATISTICS OVERVIEW ICON CONTAINER */
.div-statistics-overview-icon-container {
    position: absolute;
    top: -2.4rem;
    right: -2.4rem;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
}

.div-statistics-overview-icon-container ion-icon {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2.4rem;
    color: var(--white);
}

/* STATISTICS OVERVIEW INFO CONTAINER */
.div-statistics-overview-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: calc(100% - (24rem + 1.2rem));
    height: calc(100% - 2.4rem);
}

/* STATISTICS OVERVIEW INFO HEADER */
.statistics-overview-info-header {
    position: relative;
    padding-left: 1.2rem;
}

.statistics-overview-info-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

.statistics-overview-info-header h4 {
    font-size: 2rem;
}

/* STATISTICS OVERVIEW LIST */
.statistics-overview-labels-list {
    display: inherit;
    flex-direction: inherit;
    height: calc(3 * 4.8rem);
    border-radius: var(--border-radius-lg);
    overflow-y: scroll;
}

.statistics-overview-labels-list::-webkit-scrollbar {
    display: none;
}

/* STATISTICS OVERVIEW LIST ITEM */
.statistics-overview-labels-list-item {
    flex-shrink: 0;
    position: relative;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    padding: 0 1.6rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
    overflow: hidden;
}

.statistics-overview-labels-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary);
}

.chart-color-1::before {
    background-color: var(--chart-color-1);
}

.chart-color-2::before {
    background-color: var(--chart-color-2);
}

.chart-color-3::before {
    background-color: var(--chart-color-3);
}

.chart-color-4::before {
    background-color: var(--chart-color-4);
}

.chart-color-5::before {
    background-color: var(--chart-color-5);
}

.chart-color-6::before {
    background-color: var(--chart-color-6);
}

.chart-color-7::before {
    background-color: var(--chart-color-7);
}

.chart-color-8::before {
    background-color: var(--chart-color-8);
}

.statistics-overview-labels-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    transform: translateY(50%);
}

.statistics-overview-labels-list-item p,
.statistics-overview-labels-list-item span {
    font-size: 1.4rem;
}

.statistics-overview-labels-list-item span {
    font-weight: 500;
}

/* NONE CHART ICON CONTAINER */
.div-none-chart-icon-container {
    right: 3.6rem;
    width: 18rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
}

/* NONE CHART ICON MODAL */
.div-none-chart-icon-modal {
    width: 9.6rem;
    aspect-ratio: inherit;
    background-color: var(--white);
    box-shadow: 0 0 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

.div-none-chart-icon-modal ion-icon {
    font-size: 3rem;
    color: var(--primary);
}

/* STATISTICS OVERVIEW CHART CONTAINER */
.div-statistics-overview-chart-container {
    right: 2.4rem;
}

.div-statistics-overview-chart-container canvas {
    width: 20rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.8rem; /* Even out chart. */
}
