/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* STATISTICS CONTAINER */
.div-statistics-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* STATISTICS OVERVIEW LIST */
.statistics-overview-list {
    flex-grow: inherit;
    display: grid;
    gap: 2.4rem;
}

/* STATISTICS OVERVIEW LIST ITEM */
.statistics-overview-list-item {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}
