/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
    overflow: hidden;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* TICKET CONTAINER */
.div-ticket-container {
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: calc(100% - 9.6rem);
    height: inherit;
    padding: 2.4rem;
    transition: max-width 0.5s;
}

/* TICKET CONTENT CONTAINER */
.div-ticket-content-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: inherit;
    gap: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* TICKET CONTAINER HEADER */
.ticket-container-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.ticket-container-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.ticket-container-header-heading {
    font-size: 1.6rem;
}

.span-ticket-id {
    color: var(--primary);
}

/* TICKET ACTIONS CONTAINER */
.div-ticket-actions-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* BUTTON (OVERRIDE) */
.div-ticket-actions-container button,
.div-ticket-actions-container button {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

/* TICKET ACTIONS ASSIGNMENT TEXT */
.text-ticket-assignment {
    font-size: 1.4rem;
}

.text-ticket-assignment a:link,
.text-ticket-assignment a:visited {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
}

.text-ticket-assignment a:link::after,
.text-ticket-assignment a:visited::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: transparent;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transition: background-color 0.3s;
}

.text-ticket-assignment a:hover::after,
.text-ticket-assignment a:active::after {
    background-color: var(--primary);
}

/* TICKET OVERVIEW CONTAINER */
.div-ticket-overview-container {
    flex-grow: inherit;
    padding: 0 2.4rem;
}

/* TICKET DATA CONTAINER */
.div-ticket-data-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    column-gap: 4.8rem;
    height: 100%;
}

/* FORM POST TICKET */
.form-post-ticket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: inherit;
}

.form-post-ticket::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2.4rem;
    width: 0.2rem;
    height: inherit;
    background-color: var(--gray-tint);
    transform: translateX(50%);
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container {
    overflow: hidden;
}

.div-textarea-container {
    flex-grow: 1;
}

/* TEXT CHARACTERS LIMIT */
.text-characters-limit {
    position: absolute;
    bottom: 0.8rem;
    left: 1.2rem;
    font-size: 1.4rem;
}

.text-characters-limit span {
    color: inherit;
}

/* FORM UPLOAD TICKET IMAGES */
.form-upload-image {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: inherit;
}

/* UPLOAD TICKET IMAGES  HEADER */
.form-upload-image-header {
    text-align: right;
}

.form-upload-image-header h4 {
    font-size: 1.6rem;
}

.form-upload-image-header p {
    font-size: 1.4rem;
}

/* FORM UPLOAD TICKET IMAGES INPUTS LIST */
.form-upload-image-inputs-list {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

/* FORM UPLOAD TICKET IMAGES INPUTS LIST ITEM */
.form-upload-image-inputs-list-item {
    position: relative;
}

.form-upload-image-inputs-list-item .input-image-label {
    left: 1.6rem;
    font-size: 2rem;
    cursor: pointer;
}

.form-upload-image-inputs-list-item .input-image-label ion-icon {
    color: var(--primary-tint);
}

/* FORM UPLOAD TICKET IMAGES INPUTS LIST ITEM REMINDER */
.form-upload-image-inputs-list-item.flex-center {
    gap: 0.4rem;
}

.form-upload-image-inputs-list-item.flex-center ion-icon {
    font-size: 1.8rem;
    color: var(--primary);
}

.form-upload-image-inputs-list-item.flex-center p {
    font-size: 1.4rem;
}

.form-upload-image-inputs-list-item.flex-center span {
    color: var(--primary);
}

/* INPUT IMAGE CONTAINER */
.div-input-image-container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.div-input-image-container .input-image-name {
    flex-grow: 1;
    display: inline-block;
    padding: 1.2rem 1.2rem 1.2rem 4.8rem;
    font-size: inherit;
    text-transform: uppercase;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
    transition: all 0.3s;
}

.div-input-image-container label {
    padding: 1.2rem;
    font-size: inherit;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

.div-input-image-container .input-image {
    display: none;
}

/* TICKET RESPONSES CONTAINER */
.div-ticket-responses-container {
    position: relative;
    height: inherit;
}

.div-ticket-responses-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2.4rem;
    width: 0.2rem;
    height: inherit;
    background-color: var(--gray-tint);
    transform: translateX(50%);
}

/* SCROLLABLE RESPONSES CONTAINER */
.div-scrollable-responses-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.2rem;
    height: 0; /* Height will be calculated dynamically. */
    border-radius: var(--border-radius-lg);
    overflow-y: scroll;
}

.div-scrollable-responses-container::-webkit-scrollbar {
    display: none;
}

/* TICKET TOPIC CONTAINER */
.div-ticket-topic-container {
    display: inherit;
    align-items: flex-start;
    gap: 1.6rem;
    padding: 1.6rem 2.4rem;
    box-shadow: 0 0.4rem 1.2rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* IMAGE CONTAINER (OVERRIDE) */
.div-ticket-topic-container .div-list-item-user-image-container {
    width: 4.4rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* INITIALS CONTAINER (OVERRIDE) */
.div-ticket-topic-container .div-initials-container {
    flex-shrink: 0;
    box-shadow: 0 0.4rem 0.8rem var(--shadow-sm);
}

/* TICKET TOPIC DATA CONTAINER */
.div-ticket-topic-data-container {
    position: relative;
    display: inherit;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}

/* TICKET TOPIC DATA CONTAINER HEADER */
.ticket-topic-data-container-header h4 {
    font-size: 1.8rem;
}

.ticket-topic-data-container-header span {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.div-ticket-topic-data-container p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* TICKET TOPIC DATA CONTAINER FOOTER */
.ticket-topic-data-container-footer {
    margin-top: 0.4rem;
}

.ticket-topic-data-container-footer p {
    font-size: 1.4rem;
}

.ticket-topic-data-container-footer span {
    font-weight: 500;
    color: var(--primary);
}

.ticket-topic-data-container-footer a:link,
.ticket-topic-data-container-footer a:visited {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
}

.ticket-topic-data-container-footer a:link::after,
.ticket-topic-data-container-footer a:visited::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: transparent;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transition: background-color 0.3s;
}

.ticket-topic-data-container-footer a:hover::after,
.ticket-topic-data-container-footer a:active::after {
    background-color: var(--primary);
}

/* TICKET IMAGES CONTAINER */
.div-ticket-images-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: inherit;
}

/* TICKET IMAGES CONTAINER HEADER */
.ticket-images-container-header {
    text-align: right;
}
.ticket-images-container-header h4 {
    font-size: 1.6rem;
}

.ticket-images-container-header p {
    font-size: 1.4rem;
}

/* TICKET IMAGES LIST */
.ticket-images-list {
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    height: 0; /* Height will be calculated dynamically. */
    border-radius: var(--border-radius-md);
}

.ticket-images-list::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--gray-tint);
    border-radius: inherit;
}

.ticket-images-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: inherit;
}

/* IMAGE CONTAINER (OVERRIDE) */
.ticket-images-list-item .div-image-container {
    border-radius: var(--border-radius-lg);
}

.ticket-images-list-item .div-image-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* TICKET RESPONSES LIST */
.ticket-responses-list {
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    height: inherit;
}

/* TICKET RESPONSES LIST ITEM */
.ticket-responses-list-item {
    display: inherit;
    align-items: flex-start;
    gap: 1.6rem;
    width: 100%;
    padding: 1.6rem 2.4rem;
    box-shadow: 0 0.4rem 1.2rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* IMAGE CONTAINER (OVERRIDE) */
.ticket-responses-list-item .div-list-item-user-image-container {
    width: 4.4rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
}

/* INITIALS CONTAINER (OVERRIDE) */
.ticket-responses-list-item .div-initials-container {
    flex-shrink: 0;
    box-shadow: 0 0.4rem 0.8rem var(--shadow-sm);
}

/* TICKET RESPONSE DATA CONTAINER */
.div-ticket-response-data-container {
    display: inherit;
    flex-direction: column;
    gap: 1.2rem;
    width: inherit;
}

.div-ticket-response-data-container p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* TICKET RESPONSE DATA CONTAINER FOOTER */
.ticket-response-data-container-footer {
    margin-top: 0.4rem;
}

.ticket-response-data-container-footer p {
    font-size: 1.4rem;
}

.ticket-response-data-container-footer span {
    font-weight: 500;
    color: var(--primary);
}

.ticket-response-data-container-footer a:link,
.ticket-response-data-container-footer a:visited {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
}

.ticket-response-data-container-footer a:link::after,
.ticket-response-data-container-footer a:visited::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: transparent;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transition: background-color 0.3s;
}

.ticket-response-data-container-footer a:hover::after,
.ticket-response-data-container-footer a:active::after {
    background-color: var(--primary);
}

/* TICKET CONTAINER FOOTER */
.ticket-container-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.ticket-container-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.ticket-container-footer p {
    font-size: 1.4rem;
}

.ticket-container-footer span {
    font-weight: 500;
    color: var(--primary);
}
