/* CENTERED CONTAINER (OVERRIDE) */
.centered-container {
    height: inherit;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    height: inherit;
}

/* TICKET CONTAINER */
.div-ticket-container {
    flex-grow: 1;
    display: inherit;
    flex-direction: column;
    gap: 2.4rem;
    height: inherit;
    padding: 2.4rem;
}

/* TICKET CONTENT CONTAINER */
.div-ticket-content-container {
    flex-grow: inherit;
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
}

/* TICKET CONTAINER HEADER */
.ticket-container-header {
    position: relative;
    height: 6.4rem;
    padding: 0 2.4rem;
}

.ticket-container-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(50%);
}

.ticket-container-header-heading {
    font-size: 1.6rem;
}

.span-ticket-id {
    color: var(--primary);
}

/* TICKET ACTIONS CONTAINER */
.div-ticket-actions-container {
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* BUTTON (OVERRIDE) */
.div-ticket-actions-container button,
.div-ticket-actions-container button {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

/* TICKET ACTIONS ASSIGNED TO TEXT */
.text-assigned-to-assistant {
    font-size: 1.4rem;
}

.text-assigned-to-assistant span {
    font-weight: 500;
    color: var(--primary);
}

/* TICKET OVERVIEW CONTAINER */
.div-ticket-overview-container {
    flex-grow: inherit;
    padding: 0 2.4rem;
}

/* FORM CREATE TICKET */
.form-create-ticket {
    display: grid;
    grid-template-columns: 60fr 40fr;
    column-gap: 4.8rem;
    height: 100%;
}

.form-alter-ticket {
    height: 100%;
}

/* FORM CREATE TICKET INPUTS CONTAINER */
.div-form-create-ticket-inputs-container,
.div-form-alter-ticket-inputs-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: inherit;
}

.div-form-create-ticket-inputs-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2.4rem;
    width: 0.2rem;
    height: inherit;
    background-color: var(--gray-tint);
    transform: translateX(50%);
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container {
    overflow: hidden;
}

.div-textarea-container {
    flex-grow: 1;
}

/* CREATE TICKET IMAGES CONTAINER */
.div-form-create-ticket-images-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* CREATE TICKET IMAGES CONTAINER HEADER */
.form-create-ticket-images-container-header {
    text-align: right;
}

.form-create-ticket-images-container-header h4 {
    font-size: 1.6rem;
}

.form-create-ticket-images-container-header p {
    font-size: 1.4rem;
}

/* CREATE TICKET IMAGES INPUTS LIST */
.form-create-image-inputs-list {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

/* CREATE TICKET IMAGES INPUTS LIST ITEM */
.form-create-image-inputs-list-item {
    position: relative;
}

.form-create-image-inputs-list-item .input-image-label {
    left: 1.6rem;
    font-size: 2rem;
    cursor: pointer;
}

.form-create-image-inputs-list-item .input-image-label ion-icon {
    color: var(--primary);
}

/* CREATE TICKET IMAGES INPUTS LIST ITEM REMINDER */
.form-create-image-inputs-list-item.flex-center {
    gap: 0.4rem;
}

.form-create-image-inputs-list-item.flex-center ion-icon {
    font-size: 1.8rem;
    color: var(--primary);
}

.form-create-image-inputs-list-item.flex-center p {
    font-size: 1.4rem;
}

.form-create-image-inputs-list-item.flex-center span {
    color: var(--primary);
}

/* INPUT IMAGE CONTAINER */
.div-input-image-container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.div-input-image-container .input-image-name {
    flex-grow: 1;
    display: inline-block;
    padding: 1.2rem 1.2rem 1.2rem 4.8rem;
    font-size: inherit;
    text-transform: uppercase;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
    transition: all 0.3s;
}

.div-input-image-container label {
    padding: 1.2rem;
    font-size: inherit;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

.div-input-image-container .input-image {
    display: none;
}

/* TICKET CONTAINER FOOTER */
.ticket-container-footer {
    position: relative;
    height: 4.8rem;
    padding: 0 2.4rem;
}

.ticket-container-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    transform: translateY(-50%);
}

.ticket-container-footer p {
    font-size: 1.4rem;
}

.ticket-container-footer span {
    font-weight: 500;
    color: var(--primary);
}
