/* PAGE HEADER */
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 0 3.2rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    z-index: 3;
}

.fixed-header {
    position: fixed;
}

/* HEADER NAVIGATION */
.nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

/* HEADER NAVIGATION LINKS */
.nav-link:link,
.nav-link:visited {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
    transition: opacity 0.3s;
}

.nav-link:link::after,
.nav-link:visited::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--primary);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    opacity: 0.6;
}

.nav-link:hover::after,
.nav-link:active::after {
    left: unset;
    right: 0;
    width: 100%;
}

.active-nav-link:link,
.active-nav-link:visited {
    opacity: 0.6;
}

.active-nav-link:link::after,
.active-nav-link:visited::after {
    left: unset;
    right: 0;
    width: 100%;
    opacity: 0.6;
}

/* HERO SECTION */
.section-hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 8rem);
    margin-top: 8rem;
    background: url(../../media/images/welcome-banner.jpg);
    background-position: center;
    background-size: cover;
}

/* HERO CENTERED CONTAINER */
.section-hero .centered-container {
    height: 100%;
}

/* HERO CONTENT */
.div-hero-content-container {
    position: absolute;
    top: 50%;
    left: 24rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 56rem;
    padding: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.8rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    transform: translateY(-50%);
    transition: transform 1s;
    z-index: 2;
}

.hide-hero-content {
    transform: translateY(150%);
}

/* HERO CONTENT HEADER */
.hero-content-header h1 {
    margin-bottom: 1.2rem;
    font-size: 3.2rem;
}

.hero-content-header p {
    font-size: 2rem;
    line-height: 1.5;
}

.hero-content-header span {
    font-weight: 500;
    color: var(--primary);
}

/* BUTTON CONTAINER (OVERRIDE) */
.div-grid-btn-container {
    column-gap: 1.6rem;
    margin-top: 0;
}

/* HERO DATA CONTAINER */
.div-hero-data-container {
    display: inherit;
    align-items: center;
    gap: inherit;
}

/* HERO USERS LIST */
.hero-users-list {
    display: inherit;
    align-items: center;
}

.hero-users-list-item {
    margin-right: -1.2rem;
}

.hero-users-list-item img {
    width: 4.8rem;
    border: 0.2rem solid var(--white);
    border-radius: var(--border-radius-circle);
}

/* HERO DATA DESCRIPTION */
.hero-data-description {
    font-size: 1.6rem;
}

.hero-data-description span {
    font-weight: 500;
    color: var(--primary);
}

/* CONTENT SECTION */
.section-content {
    transition: all 1s;
}

.hide-section {
    transform: translateY(12rem);
    opacity: 0;
}

/* SECTION CONTAINER */
.section-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* SECTION HEADER */
.section-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

/* SECTION SUBHEADING */
.section-subheading {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* SECTION SUBHEADING TYPES */
.primary-subheading {
    color: var(--primary);
}

.white-subheading {
    color: var(--white);
}

/* SECTION HEADING */
.section-heading {
    font-size: 3rem;
}

/* ABOUT SECTION */
.section-about {
    padding: 4.8rem 3.2rem;
    background-color: var(--white);
}

/* ABOUT LIST */
.about-list {
    display: inherit;
    flex-direction: inherit;
    gap: 6.4rem;
}

/* ABOUT LIST ITEM */
.about-list-item {
    display: grid;
    column-gap: 12rem;
}

/* ABOUT CONTENT CONTAINER */
.div-about-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    overflow: hidden;
}

.div-about-content-container::after {
    content: "";
    position: absolute;
    bottom: -8rem;
    width: 16rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    box-shadow: 0 -0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

.left-about-content-container::after {
    left: -8rem;
}

.right-about-content-container::after {
    right: -8rem;
}

.about-heading {
    position: relative;
    font-size: 2.4rem;
    font-weight: bolder;
}

.about-heading::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 8rem;
    height: 0.2rem;
    background-color: var(--primary);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}

.about-description {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* HOW IT WORKS SECTION */
.section-how-it-works {
    padding: 4.8rem 3.2rem;
}

/* STEPS LIST */
.steps-list {
    position: relative;
    display: inherit;
    flex-direction: inherit;
    gap: 6.4rem;
}

.steps-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0.2rem;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-md);
    border-radius: var(--border-radius-lg);
    transform: translateX(-50%);
}

/* STEPS LIST ITEM */
.steps-list-item {
    position: relative;
    display: grid;
    column-gap: 12rem;
}

.steps-list-item::before,
.steps-list-item::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: var(--border-radius-circle);
    box-shadow: 0 0.2rem 0.8rem var(--shadow-sm);
    transform: translate(-50%, -50%);
}

.steps-list-item::before {
    top: 25%;
}

.steps-list-item::after {
    top: 75%;
}

/* STEPS CONTENT CONTAINER */
.div-steps-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.span-steps-counter {
    font-size: 7.4rem;
    color: var(--white);
}

.steps-heading {
    font-size: 2.4rem;
    font-weight: bolder;
}

.steps-description {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* FEATURES SECTION */
.section-features {
    padding: 4.8rem 3.2rem;
    background-color: var(--white);
}

/* FEATURES LIST */
.features-list {
    display: grid;
    gap: 3.2rem;
    margin-top: 2.4rem;
}

/* FEATURES LIST ITEM */
.features-list-item {
    position: relative;
    padding: 4.8rem 2.4rem 2.4rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-lg);
    transition: transform 0.3s;
}

.features-list-item::before {
    content: "";
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 1.2rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    transition: background-color 0.3s;
}

.features-list-item:hover {
    transform: translateY(-1.2rem);
}

.features-list-item:hover::before {
    background-color: var(--primary);
}

.div-features-icon-container {
    position: absolute;
    top: 0;
    left: 2.4rem;
    width: 5.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    box-shadow: inherit;
    border-radius: var(--border-radius-circle);
    transform: translateY(-50%);
}

.div-features-icon-container ion-icon {
    font-size: 2.4rem;
    color: var(--primary);
}

.div-features-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.features-heading {
    font-size: 1.8rem;
}

.features-description {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* TESTIMONIALS SECTION */
.section-testimonials {
    padding: 4.8rem 3.2rem;
    overflow: hidden;
}

/* TESTIMONIALS LIST */
.testimonials-list {
    display: inherit;
    align-items: center;
    gap: 3.2rem;
}

/* TESTIMONIALS LIST ITEM */
.testimonials-list-item {
    flex-shrink: 0;
    position: relative;
    display: inherit;
    align-items: center;
    gap: inherit;
    width: 64rem;
    padding: 3.2rem;
    background-color: var(--white);
    border-radius: var(--border-radius-lg);
    transition: all 0.5s;
    overflow: hidden;
}

.testimonials-list-item::before {
    content: "";
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    width: 1.2rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    transition: background-color 0.5s;
}

.active-testimonial {
    box-shadow: 0 0.4rem 1.6rem var(--shadow-md);
}

.active-testimonial::before {
    background-color: var(--primary);
}

.testimonials-list-item::after {
    content: "";
    position: absolute;
    bottom: -8rem;
    right: -8rem;
    width: 16rem;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border-radius: var(--border-radius-circle);
    transform: rotate(45deg);
    z-index: 1;
}

.testimonials-image-container {
    flex-shrink: 0;
    width: 16rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

/* TESTIMONIALS DATA CONTAINER */
.div-testimonials-data-container {
    display: inherit;
    flex-direction: column;
    gap: 1.6rem;
}

.testimonials-heading {
    font-size: 1.8rem;
}

.testimonials-quote {
    font-size: 1.6rem;
    font-style: italic;
}

/* TESTIMONIALS AUTHOR CONTAINER */
.div-testimonials-author-container {
    display: inherit;
    flex-direction: column;
    gap: 0.2rem;
}

.div-testimonials-author-container p {
    font-size: 1.6rem;
    font-weight: 600;
}

.div-testimonials-author-container span {
    font-size: 1.4rem;
}

/* TESTIMONIALS CONTROLS CONTAINER */
.div-testimonials-controls-container {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

/* TESTIMONIALS STEP BUTTON */
.btn-testimonials-step {
    width: 4.8rem;
    height: 3.2rem;
    padding: 0;
}

.btn-testimonials-step ion-icon {
    font-size: 1.8rem;
    color: var(--primary);
}

/* TESTIMONIALS INDICATORS LIST */
.indicators-list {
    display: inherit;
    align-items: inherit;
    gap: 1.2rem;
}

.span-indicator {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--white);
    border-radius: var(--border-radius-circle);
    transition: all 0.5s;
    cursor: pointer;
}

.active-span-indicator {
    width: 2.4rem;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-lg);
}

/* BACK TO TOP BUTTON */
.div-to-top-btn-container {
    position: fixed;
    bottom: 4.8rem;
    right: 3.2rem;
    transition: transform 1s;
    z-index: 1;
}

.hide-to-top-btn {
    transform: translateY(-100vh);
}

.btn-to-top {
    width: 4.8rem;
    aspect-ratio: 1 / 1;
    color: var(--primary);
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem var(--shadow-sm);
    border-radius: var(--border-radius-circle);
}

.btn-to-top:hover ion-icon {
    transform: translateY(-0.4rem);
}

/* PAGE FOOTER */
.page-footer {
    padding: 3.2rem 3.2rem 2.4rem;
    background-color: var(--white);
}

/* FOOTER CONTENT CONTAINER */
.div-footer-content-container {
    display: grid;
    column-gap: 2.4rem;
    row-gap: 3.2rem;
    padding-bottom: 3.2rem;
}

/* FOOTER CONTENT CONTAINER HEADER */
.footer-content-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content-container-header a:link,
.footer-content-container-header a:visited {
    padding: 0.8rem 2.4rem;
}

/* FOOTER CONTENT */
.div-footer-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-content-heading {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
}

.footer-content-heading::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 6.4rem;
    height: 0.2rem;
    background-color: var(--primary);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}

.footer-content-description {
    font-size: 1.4rem;
}

.footer-content-description span {
    color: var(--primary);
}

/* FOOTER LINKS LIST */
.footer-links-list {
    display: inherit;
    flex-direction: column;
    gap: 0.8rem;
}

/* FOOTER LINKS LIST ITEM */
.footer-links-list-item {
    display: inherit;
    align-items: center;
    gap: inherit;
}

.footer-links-list-item ion-icon {
    font-size: 1.6rem;
    color: var(--primary);
}

/* NEWSLETTER FORM CONTAINER */
.div-newsletter-form-container {
    display: inherit;
    flex-direction: inherit;
    gap: 0.4rem;
}

/* NEWSLETTER FORM */
.newsletter-form {
    display: flex;
}

/* INPUT CONTAINER (OVERRIDE) */
.div-input-container {
    flex-grow: 1;
}

.div-input-container label {
    left: 1.6rem;
}

.div-input-container ion-icon {
    font-size: 1.8rem;
}

.div-input-container input {
    padding: 0.8rem 1.2rem 0.8rem 4.8rem;
    font-size: 1.4rem;
    background-color: var(--gray-tint);
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.btn-newsletter {
    padding: 0.8rem 1.2rem;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

/* SOCIALS LIST */
.socials-list {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

/* SOCIALS LIST ITEM */
.socials-list-item {
    position: relative;
    color: var(--primary);
    transition: all 0.3s;
}

.socials-list-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: var(--border-radius-circle);
    transform: translate(-50%, -50%);
    transition: inherit;
}

.socials-link:link,
.socials-link:visited {
    font-size: 2rem;
    color: inherit;
}

.socials-link:link ion-icon,
.socials-link:visited ion-icon {
    font-size: inherit;
    color: inherit;
}

.socials-list-item:hover {
    color: var(--white);
}

.socials-list-item:hover::before {
    background-color: var(--primary-tint);
}

/* COPYRIGHT CONTAINER */
.div-copyright-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.2rem;
}

.div-copyright-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray-tint);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

/* COPYRIGHT TEXT */
.div-copyright-container {
    font-size: 1.4rem;
}

.div-copyright-container span {
    font-weight: 500;
    color: var(--primary);
}
